@page "/Facturitas"
@using FacturasWEB.Components.Data
@using FacturasWEB.Components.Servicios
@inject ServicioControlador Controlador
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Nueva Factura</h3>

<div>
    <label>Nombre del Cliente:</label>
    <input type="text" @bind="nuevaFactura.Nombre"/>
</div>
<div>
    <label>Fecha:</label>
    <input type="date" @bind="fechaParaInput"  />
</div>

<hr />

<div>
    <h4>Añadir Artículo</h4>
    <div>
        <label>Artículo:</label>
        <input @bind="nuevoArticulo.Nombre" placeholder="Nombre del articulo" />
    </div>
    <div>
        <label>Precio:</label>
        <input @bind="nuevoArticulo.Precio" type="number" step="0.5" min="0.1" />
    </div>
    <div>
        <label>Cantidad:</label>
        <input @bind="nuevoArticulo.Cantidad" type="number" min="1" placeholder="1" />
    </div>
    <button @onclick="agregarArticulo">Añadir ese articulo</button>
</div>

<hr />

<h4>Artículos de la Factura</h4>

<ol>
    @foreach (var art in articulos)
    {
        <li>
            <span>@art.Nombre</span> |
            <span>Precio: @art.Precio</span> |
            <span>Cantidad: @art.Cantidad</span> |
            <span>Subtotal: @(art.Precio * art.Cantidad)</span>
            <button @onclick="() => actualizarArticulo(art)">Editar</button>
            <button @onclick="() => eliminarArticulo(art)">Eliminar</button>
        </li>
    }
</ol>

<div>
    <h4>Total: @total </h4>
    
</div>

<hr />

<div>
    <button @onclick="guardarFactura">Guardar la factura</button>
</div>
@mensajeError

@code {
    private Factura nuevaFactura = new Factura();
    private Articulo nuevoArticulo = new Articulo();
    private List<Articulo> articulos = new List<Articulo>();
    private DateTime fechaParaInput = DateTime.Today;
    private double total = 0.0;

    private string mensajeError = "";

    protected override async Task OnInitializedAsync()
    {
        articulos = await Controlador.obtenerArticulos();
    }

    private async Task eliminarArticulo(Articulo articulo)
    {
        Controlador.eliminarArticulo(articulo);
        articulos = await Controlador.obtenerArticulos();
        total -= articulo.Precio * articulo.Cantidad;
    }

    private async Task agregarArticulo()
    {
        mensajeError = "";
        if (string.IsNullOrWhiteSpace(nuevoArticulo.Nombre) ||
        nuevoArticulo.Precio <= 0 ||
        nuevoArticulo.Cantidad <= 0)
        {
            mensajeError = "Faltan datos obligatorios del artículo";
            return;
        }
        Controlador.agregarArticulo(nuevoArticulo);
        articulos = await Controlador.obtenerArticulos();
        total += nuevoArticulo.Precio * nuevoArticulo.Cantidad;
        nuevoArticulo = new Articulo();

    }
    private async Task actualizarArticulo(Articulo articuloOriginal)
    {
        mensajeError = "";
        if (string.IsNullOrWhiteSpace(nuevoArticulo.Nombre) ||
        nuevoArticulo.Precio <= 0 ||
        nuevoArticulo.Cantidad <= 0)
        {
            mensajeError = "Faltan datos obligatorios del artículo";
            return;
        }
        Controlador.actualizarArticulo(articuloOriginal, nuevoArticulo);
        articulos = await Controlador.obtenerArticulos();
        total = articulos.Sum(a => a.Precio * a.Cantidad);
    }

    private async Task guardarFactura()
    {
        mensajeError = "";
        if (!string.IsNullOrWhiteSpace(nuevaFactura.Nombre) && articulos.Any())
        {
            nuevaFactura.Fecha = fechaParaInput.ToString("yyyy-MM-dd");
            nuevaFactura.Nombre = nuevaFactura.Nombre?.Trim();
            nuevaFactura.Articulos = articulos;
            await Controlador.guardarFactura(nuevaFactura);
            Console.WriteLine("factura añadida");
            nuevaFactura = new Factura();
            total = 0.0;
            return;
        }
        mensajeError = "Faltan datos obligatorios";

    }
}