@page "/Facturitas"
@using FacturasWEB.Components.Data
@using FacturasWEB.Components.Servicios
@inject ServicioControlador Controlador
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Nueva Factura (Facturitas)</h3>

<div>
    <label>Nombre del Cliente:</label>
    <input />
</div>
<div>
    <label>Fecha:</label>
    <input type="date" />
</div>

<hr />

<div>
    <h4>Añadir Artículo</h4>
    <div>
        <label>Artículo:</label>
        <input placeholder="Nombre del articulo"/>
    </div>
    <div>
        <label>Precio:</label>
        <input type="number" step="0.5" min="0.1"/>
    </div>
    <div>
        <label>Cantidad:</label>
        <input type="number" min="1" placeholder="1"/>
    </div>
    <button>Añadir ese articulo</button>
</div>

<hr />

<h4>Artículos de la Factura</h4>

<ol>
    @* Aquí irá un bucle @foreach cuando programemos el código.
      Por ahora, pongo ejemplos estáticos de cómo se verá cada renglón:
    *@
    <li>
        <span>Coca-Cola 600ml</span> |
        <span>Precio: 18.50</span> |
        <span>Cantidad: 2</span> |
        <span>Subtotal: 37.00</span>
        <button>Eliminar</button>
    </li>
    <li>
        <span>Sabritas Fuego</span> |
        <span>Precio: 16.00</span> |
        <span>Cantidad: 1</span> |
        <span>Subtotal: 16.00</span>
        <button>Eliminar</button>
    </li>
</ol>

<div>
    <h4>Total: 53.00</h4>
    @* Este total se calculará dinámicamente *@
</div>

<hr />

<div>
    <button>Guardar la factura</button>
</div>