@page "/lista-facturas"
@using FacturasWEB.Components.Data
@using FacturasWEB.Components.Servicios
@inject ServicioControlador Controlador
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Lista de Facturas</h3>

@if (!facturasCargadas.Any())
{
    <p>No hay facturas guardadas en la base de datos.</p>
}
else
{
    <table border="1">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Nombre  </th>
                <th>Cantidad de Artículos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var factura in facturasCargadas)
            {
                <tr>
                    <td>@factura.Fecha</td>
                    <td>@factura.Nombre    </td>
                    <td>@factura.Articulos.Count()</td>
                    <td>
                        <button @onclick="() => Editar(factura)">Editar</button>
                        <button @onclick="() => Eliminar(factura)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Factura> facturasCargadas;


    protected override async Task OnInitializedAsync()
    {
        facturasCargadas = await Controlador.obtenerFacturas();
    }

    private void Editar(Factura factura)
    {
        Console.WriteLine($"Editar factura ID: {factura.Nombre + factura.ID_factura}");
        NavigationManager.NavigateTo($"/EditarFactura/{factura.ID_factura}");
    }

    private async Task Eliminar(Factura factura)
    {
        Console.WriteLine($"Eliminar factura ID: {factura}");
        Controlador.eliminarFactura(factura);
        facturasCargadas = await Controlador.obtenerFacturas(); 
        Console.WriteLine("Factura eliminada y lista recargada.");
    }
}
