@page "/reporte-anual"
@using FacturasWEB.Components.Data
@using FacturasWEB.Components.Servicios
@using System.Globalization
@inject ServicioControlador Controlador
@rendermode InteractiveServer

<h3>Reporte Anual de Gastos</h3>

<div>
    <label>Año:</label>
    <input type="number" @bind="anoParaBuscar" />
    <button @onclick="GenerarReporte">Generar Reporte</button>
</div>

<hr />

@if (reporteGenerado)
{
    <h4>Resultados para el año @anoParaBuscar</h4>
    <table border="1">
        <thead>
            <tr>
                <th>Mes</th>
                <th>Total Gastado</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 12; i++)
            {
                <tr>
                    <td>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i + 1)</td>
                    <td>@totalesMensuales[i].ToString("C")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td style="font-weight: bold;">TOTAL ANUAL:</td>
                <td style="font-weight: bold;">@granTotal.ToString("C")</td>
            </tr>
        </tfoot>
    </table>
}

@code {

    private int anoParaBuscar = DateTime.Today.Year;
    private double[] totalesMensuales;
    private double granTotal;
    private bool reporteGenerado = false;

    private async Task GenerarReporte()
    {
        totalesMensuales = new double[12];
        granTotal = 0;
        reporteGenerado = false;

        var facturasDelAno = await Controlador.ObtenerFacturasPorAno(anoParaBuscar);

        foreach (var factura in facturasDelAno)
        {
            if (DateTime.TryParse(factura.Fecha, out var fechaFactura))
            {
                double totalFactura = 0;
                foreach (var articulo in factura.Articulos)
                {
                    totalFactura += (articulo.Precio * articulo.Cantidad);
                }
                int mesIndex = fechaFactura.Month - 1;
                totalesMensuales[mesIndex] += totalFactura;
                granTotal += totalFactura;
            }
        }
        reporteGenerado = true;
    }
}
